* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
}

body {
  background-color: #131819;
}

nav {
  display: flex;
  background-color: #00000096;
  position: fixed;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style-type: none;
  margin: 0 10px 0;
}

nav ul li a {
  font-weight: 600;
  font-size: 1em;
  color: #dee0e1;
  text-shadow: 5px 5px 9px rgba(0,0,0,0.6);
}

nav ul li a:hover {
  color: #7847df;
}

div#inicio {
  height: 40vw;
  width: 100%;
  background: url('img/programmer.jpg') no-repeat;
  filter: blur(3px);
}

div#content {
  position: absolute;
  margin: -27vw 0 0 8%;
}

h1 {
  display: inline-block;
  font-size: 3vw;
  text-shadow: 0px 3px 5px #000000;
  color: #dee0e1;
  overflow: hidden;
}

h1#color {
  color: #7847df;
  width: 0ch;
  overflow: hidden;
  white-space: nowrap;
  animation: text 5s steps(8) infinite;
  border-right: 3px solid black;
}

@keyframes text {
  0% {
    width: 0ch;
  }
  50% {
    width: 8ch;
  }
}

h2 {
  position: relative;
  font-size: 3.5vw;
  color: #dee0e1;
  text-shadow: 0px 3px 5px #000000;
  margin: 5px 0;
  text-align: center;
}

h2::after {
  position: absolute;
  content: "";
  width: 15vw;
  height: .18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 5.3vw;
  background-color: #7847df;
}

div#sobre {
  display: flex;
  flex-direction: column;
  height: 40vw;
  width: 100%;
  background-color: #232829;
  padding: 30px 0 30px 0;
  text-align: center;
  font-size: 2vw;
}

div#sobre div#eu {
  margin: 20px auto;
  width: 70vw;
  max-width: 75vw;
}

div#sobre div#eu p {
  margin: 3em 0 0 0;
  color: #dee0e1;
}

div#what-i-do {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 30px 0 30px 0;
  height: 60vw;
  width: 100%;
}

div#what-i-do div#what-does {
  display: flex;
  justify-content: space-evenly;
  margin: 10vw 0 0 0;
  width: 80vw;
}

div#what-i-do div#what-does div {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30vw;
  padding: 3vw 4vw;
  margin: 10px;
  background-color: #232829;
  border-radius: 5px;
}

div#what-i-do div#what-does div:nth-child(1) img {
  height: 7vw;
  margin: 20px 0;
}

div#what-i-do div#what-does div img {
  height: 11vw;
}

div#what-i-do div#what-does div h3 {
  font-size: 2vw;
  color: #dee0e1;
  white-space: nowrap;
}

div#what-i-do div#what-does div p {
  margin: 10px 0;
  max-width: 180px;
  text-align: center;
  text-shadow: none;
  color: #dee0e1;
  font-size: .8em;
}

div#projetos {
  display: inline-block;
  background-color: #33415f;
  text-align: center;
  padding: 15px 0 30px 0;
  height: 100%;
  width: 100%;
}

div#Lista-de-projetos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 70%;
  padding: 15px 0 0 0;
}

div#Lista-de-projetos div {
  display: flex;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #232829;
  width: 20em;
  padding: 15px 0;
  margin: 40px 30px 30px 30px;
  align-items: center;
  flex-direction: column;
}

div#Lista-de-projetos div img {
  height: 19vw;
  max-height: 9rem;
  width: 90%;
  margin: 0 0 .5em 0;
}

div#Lista-de-projetos div p {
  font-size: 12px;
  color: #dee0e1;
  width: 85%;
  margin: 10px 0;
}


div#Lista-de-projetos div a button {
  color: #dee0e1;
  border: none;
  background-color: #7847df;
  cursor: pointer;
  height: 30px;
  padding: 7px;
  margin: 10px 0;
  border-radius: 4px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: center;
  background-color: #232829;
  padding: 15px 0 10px 0;
  bottom: 0;
}

div#contato div#informacao-contato {
  margin: 6vw 0;
}

div#contato div#informacao-contato ul {
  display: flex;
  list-style: none;
  color: #dee0e1;
  margin: 10px 0;
}

div#contato div#informacao-contato ul .li-img {
  display: flex;
  justify-content: center;
  width: 20px;
  margin: 0 5px;
}

div#contato div#informacao-contato ul .li-img img {
  display: flex;
  height: 20px;
}

div#contato div#informacao-contato ul li p {
  list-style-type: none;
  width: auto;
  color: #dee0e1;
}

div#contato div#informacao-contato ul li a {
  color: #dee0e1;
}


@media(max-width: 600px) {
  nav ul li a {
    font-size: 3.5vw;
  }
  h1 {
    font-size: 8vw;
  }
  div#inicio {
    height: 140vw;
  }
  div#content {
    margin: -280px 0 0 8%;
  }
  h2 {
    font-size: 8vw;
  }
  h2::after {
    width: 25vw;
    top: 11vw;
  }
  div#sobre {
    height: 140vw;
    width: 100%;
    font-size: 6vw;
  }
  div#sobre div#eu {
    width: 80vw;
    max-width: 85vw;
  }
  div#sobre div#eu p {
    margin: 1.5em 0 0 0;
  }
  div#what-i-do {
    height: 120vw;
    width: 100%;
  }
  div#what-i-do div#what-does {
    margin: 40px 0 0 0;
  }
  div#what-i-do div#what-does div {
    padding: 10vw 4vw;
    min-width: 47vw;
  }
  div#what-i-do div#what-does div:nth-child(1) img {
    height: 13vw;
    margin: 7px 0 20px 0;
  }
  div#what-i-do div#what-does div img {
    height: 19vw;
    margin: 0 0 5px 0;
  }
  div#what-i-do div#what-does div h3 {
    font-size: 5vw;
  }
  div#what-i-do div#what-does div p {
    font-size: 3vw;
    max-width: 140px;
  }
  div#Lista-de-projetos {
    padding: 25px 0 0 0;
  }
  div#Lista-de-projetos div {
    width: 70%;
    margin: 10px 0;
  }
  div#Lista-de-projetos div img {
    height: 30vw;
  }
  footer {
    padding: 1rem 0 0 0;
  }
  div#contato div#informacao-contato {
    margin: 15vw 0;
  }
}
