* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
}

body {
  background-color: #131819;
}

nav {
  display: flex;
  background-color: #00000096;
  position: fixed;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}

ul {
  display: flex;
}

ul li {
  list-style-type: none;
  margin: 0 10px 0;
}

nav ul li a {
  font-weight: 600;
  font-size: 14px;
  color: #dee0e1;
  text-shadow: 5px 5px 9px rgba(0,0,0,0.6);
}

nav ul li a:hover {
  color: #7847df;
}

div#inicio {
  display: flex;
  align-items: center;
  height: 30rem;
  width: 100vw;
}

div#inicio div#content {
  margin: 0 0 0 7%;
}

h1 {
  display: inline-block;
  font-size: 2rem;
  text-shadow: 0px 3px 5px #000000;
  color: #dee0e1;
  overflow: hidden;
}

h1#color {
  color: #20ac16;
  width: 0ch;
  overflow: hidden;
  white-space: nowrap;
  animation: text 5s steps(8) infinite;
  border-right: 3px solid black;
}

@keyframes text {
  0% {
    width: 0ch;
  }
  50% {
    width: 8ch;
  }
}

h2 {
  position: relative;
  font-size: 2rem;
  color: #dee0e1;
  text-shadow: 0px 3px 5px #000000;
  margin: 5px;
  text-align: center;
}
h2::after {
  position: absolute;
  content: "";
  width: 70px;
  height: .18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2.7rem;
  background-color: #7847df;
}


div#sobre {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #232829;
  padding: 50px 0 50px;
  text-align: center;
  font-size: 21px;
}


div#sobre div#eu {
  margin: 10px auto;
  width: 80vw;
  max-width: 85vw;
}

p {
  text-shadow: 0px 3px 5px #000000;
}

div#sobre div#eu p {
  margin: 10px 0;
  color: #dee0e1;
}

div#sobre button {
  margin: 2% 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #7847df;
}

div#sobre button a {
  color: #dee0e1;
}

div#what-i-do {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 30px 0 30px 0;
  height: 100%;
  width: 100%;
}

div#what-i-do div#what-does {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  width: 80vw;
}

div#what-i-do div#what-does div {
  padding: 0 23px;
  height: 200px;
  width: 180px;
  margin: 5px;
  background-color: #232829;
  border-radius: 5px;
}

div#what-i-do div#what-does div:nth-child(1) img {
  height: 35px;
  margin: 10px;
}

div#what-i-do div#what-does div img {
  height: 55px;
}

div#what-i-do div#what-does div h3 {
  color: #dee0e1;
  white-space: nowrap;
}

div#what-i-do div#what-does div p {
  margin: 10px 0;
  text-shadow: none;
  color: #dee0e1;
  font-size: .8em;
}

div#projetos {
  display: inline-block;
  background-color: #33415f;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 30px;
  height: 100%;
  width: 100%;
}

div#Lista-de-projetos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 15px;
}

div#Lista-de-projetos div {
  display: flex;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #232829;
  width: 28%;
  padding: 10px 0;
  margin: 30px 40px 0 40px;
  align-items: center;
  flex-direction: column;
}

div#Lista-de-projetos div img {
  height: 100px;
}

div#Lista-de-projetos div p {
  font-size: 12px;
  color: #dee0e1;
  width: 85%;
  margin: 10px 0;
}

div#Lista-de-projetos div button {
  border: none;
  background-color: #5574e5;
  height: 30px;
  padding: 3px;
  margin: 10px 0;
  border-radius: 4px;
}

div#Lista-de-projetos div button a {
  color: #dee0e1;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: center;
  background-color: #232829;
  padding-top: 50px;
  padding-bottom: 10px;
  bottom: 0;
}

div#contato div#informacao-contato {
  margin: 30px 0;
}

div#contato div#informacao-contato img {
  height: 20px;
}

div#contato div#informacao-contato ul li {
  display: display;
  min-width: 10px;
  margin: 5px 0;
  color: #dee0e1;
}

div#contato div#informacao-contato ul li a {
  color: #dee0e1;
}


@media(max-width: 900px) {
  div#Lista-de-projetos div {
    width: 70%;
    margin: 10px 0;
  }
}
