* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  background-color: #0F0F0F;
}

body.popup-open {
  overflow: hidden;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #00000096;
  -webkit-backdrop-filter: blur(.15rem);
  backdrop-filter: blur(.15rem);
  position: fixed;
  padding: 0 1rem 0 0;
  height: 4rem;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  z-index: 3;
}

header nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .menu li {
  list-style-type: none;
  margin: 0 .5vw;
}

header nav .menu li a {
  font-weight: 600;
  font-size: 1em;
  color: #dee0e1;
  text-shadow: 5px 5px 9px rgba(0, 0, 0, .6);
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

header nav .menu li a:hover, header nav .menu li a:active {
  color: #7847df;
}

header nav .hamburger {
  display: none;
  cursor: pointer;
  margin: 0 .5rem 0 0;
}

header nav .hamburger .bar {
  display: block;
  margin: .5rem auto;
  height: .2rem;
  width: 2rem;
  border-radius: 2px;
  background-color: #dee0e1;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

div#home img {
  height: 42rem;
  width: 100%;
  top: 0;
  left: 0;
}

div#home div#background_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 44rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 100%;
  padding: 15rem 0 0 8%;
}

div#home div#background_content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  color: #dee0e1;
  margin: 10px 0;
}

div#home div#background_content ul .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background:none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 .5rem;
}

div#home div#background_content ul .icon a:hover {
  -webkit-filter: invert(42%) sepia(82%) saturate(6460%) hue-rotate(250deg) brightness(94%) contrast(86%);
          filter: invert(42%) sepia(82%) saturate(6460%) hue-rotate(250deg) brightness(94%) contrast(86%);
}

div#home div#background_content ul .icon a img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2rem;
}

div#home div#background_content h1 {
  display: inline-block;
  font-size: 3rem;
  text-shadow: 0px 3px 5px #000000;
  color: #dee0e1;
  overflow: hidden;
}

div#home div#background_content span#background_content-name {
  color: #7847df;
  overflow: hidden;
  white-space: nowrap;
}

h2 {
  font-size: 3rem;
  color: #dee0e1;
  text-shadow: 0px 3px 5px #000000;
  border-bottom: 3px solid #7847df;
  margin: 0 auto 5px auto;
  padding: 0 .5rem .5rem .5rem;
  text-align: center;
}

div#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 40rem;
  height: 37vw;
  width: 100%;
  background-color: #0F0F0F;
  padding: 3rem 0;
  font-size: 1.6vw;
}

div#about div#about_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 78vw;
  max-width: 75vw;
}

div#about div#about_container img#about_containerImage {
  border-radius: 100%;
  border: .3rem solid #7847df;
  padding: .8rem;
  height: 33vw;
  min-height: 10rem;
  width: 33vw;
  min-width: 10rem;
  max-width: 23rem;
  max-height: 23rem;
}

div#about div#about_container p {
  margin: auto 0;
  color: #8a8a8a;
  width: 38vw;
}

a#link-to-top {
  outline: none;
}

button#to-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #7847df;
  position: fixed;
  bottom: 1rem;
  right: 2.2rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: #1f1f1f;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  z-index: 4;
  -webkit-box-shadow: 0px 0px 8px 0px #0F0F0F;
          box-shadow: 0px 0px 8px 0px #0F0F0F;
}

button#to-top.active {
  bottom: 2.2rem;
  pointer-events: auto;
  opacity: 1;
}

button#to-top:hover {
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
  -webkit-filter: brightness(.9);
  filter: brightness(.9);
}

button#to-top:active {
  -webkit-filter: brightness(.7);
  filter: brightness(.7);
}

button#to-top img {
  height: 1.5rem;
  pointer-events: none;
}

div#services {
  scroll-padding-top: 90rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #212121;
  padding: 2.5rem 0;
  height: 100%;
  width: 100%;
}

div#services ul#services_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 70rem;
}

div#services ul#services_container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 3vw 1rem;
  margin: 3rem 2rem;
  min-height: 20rem;
  height: 18vw;
  min-width: 20rem;
  width: 20vw;
  background-color: #0F0F0F;
  border-radius: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  overflow: hidden;
}

div#services ul#services_container li span {
  -webkit-transition: .5;
  -o-transition: .5;
  transition: .5;
  position: absolute;
}

div#services ul#services_container li span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: -o-linear-gradient(left, transparent, #7847df);
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#7847df));
  background: linear-gradient(to right, transparent, #7847df);
  -webkit-animation: animate1 2s linear infinite;
          animation: animate1 2s linear infinite;
}

div#services ul#services_container li span:nth-child(2) {
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: -o-linear-gradient(top, transparent, #7847df);
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#7847df));
  background: linear-gradient(to bottom, transparent, #7847df);
  -webkit-animation: animate2 2s linear infinite;
          animation: animate2 2s linear infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

div#services ul#services_container li span:nth-child(3) {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: -o-linear-gradient(right, transparent, #7847df);
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#7847df));
  background: linear-gradient(to left, transparent, #7847df);
  -webkit-animation: animate3 2s linear infinite;
          animation: animate3 2s linear infinite;
}

div#services ul#services_container li span:nth-child(4) {
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: -o-linear-gradient(bottom, transparent, #7847df);
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#7847df));
  background: linear-gradient(to top, transparent, #7847df);
  -webkit-animation: animate4 2s linear infinite;
          animation: animate4 2s linear infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes animate1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes animate1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@-webkit-keyframes animate2 {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
@keyframes animate2 {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
@-webkit-keyframes animate3 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes animate3 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes animate4 {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@keyframes animate4 {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

div#services ul#services_container li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

div#services ul#services_container li div img {
  height: 45%;
  pointer-events: none;
}

div#services ul#services_container li div h3 {
  font-size: 1.4rem;
  color: #dee0e1;
  white-space: nowrap;
}

div#services ul#services_container li div p {
  color: #8a8a8a;
}

div#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #0F0F0F;
  text-align: center;
  padding: 3rem 0;
  height: 100%;
  width: 100%;
}

div#projects ul#projects_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 70rem;
}

div#projects ul#projects_container li {
  -webkit-transition: all 1s ease 0s, opacity 2s cubic-bezier(.5, 0, 0, 1) 0s,
    -webkit-transform 2s cubic-bezier(.5, 0, 0, 1) 0s;
  transition: all 1s ease 0s, opacity 2s cubic-bezier(.5, 0, 0, 1) 0s,
    -webkit-transform 2s cubic-bezier(.5, 0, 0, 1) 0s;
  -o-transition: all 1s ease 0s, opacity 2s cubic-bezier(.5, 0, 0, 1) 0s,
    transform 2s cubic-bezier(.5, 0, 0, 1) 0s;
  transition: all 1s ease 0s, opacity 2s cubic-bezier(.5, 0, 0, 1) 0s,
    transform 2s cubic-bezier(.5, 0, 0, 1) 0s;
  transition: all 1s ease 0s, opacity 2s cubic-bezier(.5, 0, 0, 1) 0s,
    transform 2s cubic-bezier(.5, 0, 0, 1) 0s, -webkit-transform 2s cubic-bezier(.5, 0, 0, 1) 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #212121;
  border-radius: 5px;
  background-color: #212121;
  height: auto;
  min-width: 20rem;
  width: 24vw;
  margin: 3rem 2rem;
  padding: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div#projects ul#projects_container li:hover {
  border: 1px solid #7847df;
}

div#projects ul#projects_container li button {
  position: relative;
  overflow: hidden;
  border: none;
  background-color: #212121;
  cursor: pointer;
}

div#projects ul#projects_container li button img.background {
  color: transparent;
  min-height: 8rem;
  max-height: 12rem;
  height: 19vw;
  width: 100%;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
div#projects ul#projects_container li button img.background:hover {
  -webkit-transform: scale(1.07);
      -ms-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-filter: brightness(.35);
          filter: brightness(.35);
}

div#projects ul#projects_container li button img.zoom-in {
  opacity: 0;
  height: 3rem;
  position: absolute; 
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  pointer-events: none;
}
div#projects ul#projects_container li button:hover img.zoom-in {
  opacity: 1;
  z-index: 2;
}

div#projects ul#projects_container li p {
  font-size: 12px;
  color: #dee0e1;
  width: 85%;
  margin: 1rem 0;
}

div#projects ul#projects_container li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dee0e1;
  border: none;
  background-color: #7847df;
  font-size: inherit;
  cursor: pointer;
  height: 2.5rem;
  width: 6rem;
  border-radius: 4px;
}

div#projects ul#projects_container li a:hover {
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
  -webkit-filter: brightness(.9);
  filter: brightness(.9);
}
div#projects ul#projects_container li a:active {
  -webkit-filter: brightness(.7);
  filter: brightness(.7);
}

div#popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  z-index: 5;
  text-align: center;
}

div#popup span {
  color: #dee0e1;
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

div#popup img#popupImg {
  max-width: 85%;
  max-height: 85%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 6;
}

div#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #212121;
  padding: 3rem 0;
}

#form {
  margin: 3rem auto;
  width: 100%;
  max-width: 32rem;
  font-size: 1.125rem;
}

#form label,
#form input,
#form textarea,
#form button {
  display: block;
  width: 100%;
}

#form label {
  color: #dee0e1;
  line-height: 1;
  margin-bottom: .5rem;
}

#form input,
#form textarea {
  font-size: inherit;
  padding: .8rem;
  margin: 0 0 1rem 0;
  border: 1px solid #0F0F0F;
  background-color: #0F0F0F;
  caret-color: #7847df;
  color: #8a8a8a;
  border-radius: 8px;
  -webkit-transition: all 1s ease 0s, opacity 2s cubic-bezier(.5, 0, 0, 1) 0s,
    -webkit-transform 2s cubic-bezier(.5, 0, 0, 1) 0s;
  transition: all 1s ease 0s, opacity 2s cubic-bezier(.5, 0, 0, 1) 0s,
    -webkit-transform 2s cubic-bezier(.5, 0, 0, 1) 0s;
  -o-transition: all 1s ease 0s, opacity 2s cubic-bezier(.5, 0, 0, 1) 0s,
    transform 2s cubic-bezier(.5, 0, 0, 1) 0s;
  transition: all 1s ease 0s, opacity 2s cubic-bezier(.5, 0, 0, 1) 0s,
    transform 2s cubic-bezier(.5, 0, 0, 1) 0s;
  transition: all 1s ease 0s, opacity 2s cubic-bezier(.5, 0, 0, 1) 0s,
    transform 2s cubic-bezier(.5, 0, 0, 1) 0s, -webkit-transform 2s cubic-bezier(.5, 0, 0, 1) 0s;
}

#form input:hover, #form textarea:hover {
  border: 1px solid #7847df;
}

#form textarea {
  min-height: 13rem;
  resize: vertical;
}

#form input:focus,
#form textarea:focus {
  border: 1px solid #7847df;
  outline: none;
}

#form button {
  display: block;
  padding: 1rem;
  background-color: #7847df;
  color: #dee0e1;
  font-size: inherit;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

#form button:hover {
  -webkit-filter: brightness(.9);
  filter: brightness(.9);
}
#form button:active {
  -webkit-filter: brightness(.7);
  filter: brightness(.7);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 6rem;
  color: #dee0e1;
}

@media (max-width: 797px) {
  header nav {
    height: 4.5rem;
    padding: 0 .5rem 0 0;
  }
  header nav .menu {
    background-color: #00000096;
    -webkit-backdrop-filter: blur(.15rem);
    backdrop-filter: blur(.15rem);
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    left: -100%;
    top: 4.5rem;
    width: 100%;
  }
  header nav .menu.active {
    left: 0;
  }
  header nav .menu li {
    height: 5rem;
  }
  header nav .menu li a {
    display: block;
    font-size: 3.5vw;
    padding: 6.7% 0;
    width: 100%;
  }
  header nav .hamburger {
    display: block;
  }
  header nav .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(.75rem) rotate(45deg);
    -ms-transform: translateY(.75rem) rotate(45deg);
    transform: translateY(.75rem) rotate(45deg);
  }
  header nav .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  header nav .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-.75rem) rotate(-45deg);
    -ms-transform: translateY(-.75rem) rotate(-45deg);
    transform: translateY(-.75rem) rotate(-45deg);
  }
  div#home img {
    height: 120vw;
  }
  div#home div#background_content {
    height: 127vw;
    padding: 40vw 0 0 5%;
  }
  div#home div#background_content h1 {
    font-size: 6vw;
  }
  h2 {
    font-size: 8vw;
  }
  h2::after {
    width: 25vw;
    top: 11vw;
  }
  div#about {
    height: 220vw;
    min-height: 40rem;
    width: 100%;
    font-size: 6vw;
  }
  div#about div#about_container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1rem 0 0 0;
    width: 80vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 85vw;
  }
  div#about div#about_container img#about_containerImage {
    min-height: 0;
    height: auto;
    min-width: 0;
    width: auto;
  }
  div#about div#about_container p {
    margin: 4rem 0 0 0;
    width: 100%;
  }
  div#services {
    height: auto;
    width: 100%;
  }
  div#services ul#services_container {
    margin: 20px 0 0 0;
    min-width: 0;
    max-width: 90%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  div#services ul#services_container li {
    margin: 10px 0;
    padding: 10vw 1rem;
    min-height: 23rem;
    height: 80vw;
    min-width: 0;
    width: 100%;
  }
  div#services ul#services_container li div img {
    height: 45vw;
  }
  div#services ul#services_container li div h3 {
    font-size: 1.2rem;
  }
  div#services ul#services_container li div p {
    font-size: .8rem;
    max-width: 70%;
  }
  div#projects ul#projects_container {
    padding: 25px 0 0 0;
    min-width: 0;
    max-width: 90%;
  }
  div#projects ul#projects_container li {
    margin: 10px 0;
    height: auto;
    min-width: 0;
    width: 100%;
  }
  div#projects ul#projects_container li button img.background {
    min-height: 7rem;
    height: 43vw;
  }
  div#popup img#popupImg {
    height: 27%;
  }
  #form {
    width: 90%;
  }
  footer {
    font-size: .8rem;
  }
}
