* {
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
}

body {
  background-color: #131819;
}

header nav {
  display: flex;
  background-color: #00000096;
  position: fixed;
  padding: 0 1rem 0 0;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style-type: none;
  margin: 0 10px 0;
}

header nav ul li a {
  font-weight: 600;
  font-size: 1em;
  color: #dee0e1;
  text-shadow: 5px 5px 9px rgba(0, 0, 0, .6);
}

header nav ul li a:hover {
  transition: all 300ms ease 0s;
  color: #7847df;
}

div#home {
  height: 45vw;
  width: 100%;
  background: url("img/programmer.jpg") no-repeat;
}

div#home div#background_content {
  position: absolute;
  backdrop-filter: blur(10px);
  height: 47vw;
  width: 100%;
  padding: 17vw 0 0 8%;
}

div#home div#background_content h1 {
  display: inline-block;
  font-size: 3vw;
  text-shadow: 0px 3px 5px #000000;
  color: #dee0e1;
  overflow: hidden;
}

div#home div#background_content h1#background_content_name {
  margin: 0 0 0 1.1vw;
  color: #7847df;
  overflow: hidden;
  white-space: nowrap;
}

h2 {
  position: relative;
  font-size: 2.3vw;
  color: #dee0e1;
  text-shadow: 0px 3px 5px #000000;
  margin: 1rem 0 5px 0;
  text-align: center;
}

h2::after {
  position: absolute;
  content: "";
  width: 7vw;
  height: .18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 3.3vw;
  background-color: #7847df;
}

div#about {
  display: flex;
  flex-direction: column;
  height: 40vw;
  width: 100%;
  background-color: #131819;
  padding: 30px 0 30px 0;
  text-align: center;
  font-size: 2vw;
}

div#about div#about_container {
  margin: 20px auto;
  width: 70vw;
  max-width: 75vw;
}

div#about div#about_container p {
  margin: 3em 0 0 0;
  color: #dee0e1;
}

div#services {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #232829;
  padding: 2rem 0 0 0;
  margin: 30px 0 30px 0;
  height: 40vw;
  min-height: 30rem;
  width: 100%;
}

div#services div#services_container {
  display: flex;
  justify-content: space-evenly;
  margin: auto 0;
  width: 80vw;
}

div#services div#services_container div {
  transition: all 1s ease 0s, opacity 2s cubic-bezier(.5, 0, 0, 1) 0s,
    transform 2s cubic-bezier(.5, 0, 0, 1) 0s;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 23rem;
  width: 30vw;
  padding: 3vw 4vw;
  margin: 10px;
  background-color: #131819;
  border: 1px solid #101013;
  border-radius: 5px;
}

div#services div#services_container div:hover {
  border: 1px solid #7847df;
}

div#services div#services_container div:nth-child(1) img {
  height: 7vw;
  margin: 2vw 0 2vw 0;
}

div#services div#services_container div img {
  height: 11vw;
}

div#services div#services_container div h3 {
  font-size: 1.8rem;
  color: #dee0e1;
  white-space: nowrap;
}

div#services div#services_container div p {
  margin: 10px 0;
  max-width: 19vw;
  text-align: center;
  text-shadow: none;
  color: #dee0e1;
  font-size: 1rem;
}

div#projects {
  display: inline-block;
  background-color: #131819;
  text-align: center;
  padding: 0 0 50px 0;
  height: 100%;
  width: 100%;
}

div#projects div#projects_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 70rem;
  padding: 15px 0 0 0;
}

div#projects div#projects_container div {
  transition: all 1s ease 0s, opacity 2s cubic-bezier(.5, 0, 0, 1) 0s,
    transform 2s cubic-bezier(.5, 0, 0, 1) 0s;
  display: flex;
  border: 1px solid #101013;
  border-radius: 5px;
  background-color: #232829;
  width: 23em;
  padding: 20px 0 35px 0;
  margin: 40px 30px 30px 30px;
  align-items: center;
  flex-direction: column;
}

div#projects div#projects_container div:hover {
  border: 1px solid #7847df;
}

div#projects div#projects_container div img {
  height: 40vw;
  max-height: 11rem;
  width: 90%;
  margin: 0 0 .5em 0;
}

div#projects div#projects_container div p {
  font-size: 12px;
  color: #dee0e1;
  width: 85%;
  margin: 10px 0;
}

div#projects div#projects_container div a {
  height: 30px;
}

div#projects div#projects_container div a button {
  color: #dee0e1;
  border: none;
  background-color: #7847df;
  cursor: pointer;
  height: 30px;
  padding: 7px;
  margin: 10px 0;
  border-radius: 4px;
}

div#projects div#projects_container div a button:hover {
  transition: all 300ms ease 0s;
  filter: brightness(.9);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: center;
  background-color: #232829;
  padding: 1rem 0 2rem 0;
  bottom: 0;
}

footer div#contact div#contact_container {
  margin: 3rem 0 0 0;
}

footer div#contact div#contact_container ul {
  display: flex;
  list-style: none;
  color: #dee0e1;
  margin: 10px 0;
}

footer div#contact div#contact_container ul .icon {
  display: flex;
  justify-content: center;
  width: 20px;
  margin: 0 5px;
}

footer div#contact div#contact_container ul .icon img {
  display: flex;
  height: 20px;
}

footer div#contact div#contact_container ul li p {
  list-style-type: none;
  width: auto;
  color: #dee0e1;
}

footer div#contact div#contact_container ul li a {
  color: #dee0e1;
}

@media (max-width: 786px) {
  header nav ul li a {
    font-size: 3.5vw;
  }
  div#home {
    height: 120vw;
  }
  div#home div#background_content {
    height: 122vw;
    padding: 40vw 0 0 8%;
  }
  div#home div#background_content h1 {
    font-size: 6vw;
  }
  h2 {
    font-size: 8vw;
  }
  h2::after {
    width: 25vw;
    top: 11vw;
  }
  div#about {
    height: 110vw;
    width: 100%;
    font-size: 6vw;
  }
  div#about div#about_container {
    width: 80vw;
    max-width: 85vw;
  }
  div#about div#about_container p {
    margin: 1.5em 0 0 0;
  }
  div#services {
    height: auto;
    padding: 0 0 3rem 0;
    width: 100%;
  }
  div#services div#services_container {
    margin: 40px 0 0 0;
    flex-wrap: wrap;
  }
  div#services div#services_container div {
    height: 23rem;
    width: 15em;
  }
  div#services div#services_container div:nth-child(1) img {
    height: 20vw;
    margin: 5vw 0 2vw 0;
  }
  div#services div#services_container div img {
    height: 28vw;
    margin: 0 0 5px 0;
  }
  div#services div#services_container div h3 {
    font-size: 1.8rem;
  }
  div#services div#services_container div p {
    font-size: 1rem;
    max-width: 350px;
  }
  div#projects_container {
    padding: 25px 0 0 0;
  }
  div#projects_container div {
    width: 90%;
    margin: 10px 0;
  }
  div#projects_container div img {
    height: 35vw;
  }
  footer {
    padding: 1rem 0 0 0;
  }
  footer div#contact div#contact_container {
    margin: 15vw 0;
  }
}
